*.suo

*.ipch

*.sln

*.vcxproj

*.filters

*.user

*.db

*.exe

*.recipe

*.ilk

*.log

*.obj

*.pdb

*.tlog

*.txt

*.idb

Chapter 3/Ex4/.vs/Ex4/v17/.suo

*.db-shm

*.db-wal

*.opendb

*.enc

2014 - Programming Principles and Practice Using C Plus Plus.pdf
